body {
	background-color: grey;
	font-family: roboto, arial;
}

#main-container {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 15px;
}

#form select {
	margin-top: 10px;
	margin-bottom: 10px;
}

#currency {
	float: right;
}

#trip-type span {
	width: 150px;
	height: 30px;
	padding: 15px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	border: solid black 2px;
	margin: 0;
	display: inline-block;
}

#trip-type span.active{
	background-color: green;
}

[v-cloak] {
  display: none;
}