body {
	background-color: grey;
	font-family: roboto, arial;
}

#main-container {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 15px;
}

#form select {
	margin-top: 10px;
	margin-bottom: 10px;
}

#currency {
	float: right;
}

.btn-secondary {
	background-color: #fcfcfc;
	color: black;
}
.btn-secondary.active, .btn-secondary:hover {
	background-color: #b3ecff !important;
}

#search-button {
	background-color: #009933;
	color: white;
	margin-top: 15px;
}

[v-cloak] {
  display: none;
}