body {
	background-color: grey;
	font-family: roboto, arial;
}

#main-container {
	width: 50%;
	min-width: 400px;
	margin: auto;
	background-color: white;
	padding: 15px;
	height: 100%;
}

.bold {
	font-weight: bold;
}

.red {
	color: #cc0000;
}

#form select {
	margin-top: 10px;
	margin-bottom: 10px;
}

#currency {
	float: right;
}

.btn-secondary {
	background-color: #fcfcfc;
	color: black;
}
.btn-secondary.active, .btn-secondary:hover {
	background-color: #b3ecff !important;
}

#search-button {
	background-color: #009933;
	color: white;
	margin: 15px;
}

.right-space15px{
	margin-right: 15px;
}

[v-cloak] {
  display: none;
}