
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Trip Sorter</title>
	<meta name="description" content="trip sorting test">
	<meta name="author" content="vbenoit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script defer src="js/material.min.js"></script>
	<link rel="stylesheet" href="css/styles.css" />
	

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<div id="app" ref="app" >
		<div id="main-container">
			<div id="title">
				Trip Sorter
				<span id="currency" >
					<select v-model="currency" >
						<option value="EUR" >€</option>
						<!--<option value="DOLR" >$</option>
						<option value="PND" >£</option>-->
					</select>
				</span>
			</div>
			<div id="form">
				<div id="from-container" v-if="travelsDataFetched">
					<select id="from" v-model="currentDeparture">
						<option value="0">from</option>
						<option v-for="departure in departures" v-bind:value="departure" >{{departure}}
						</option>
					</select>
				</div>
				<div id="to-container" v-if="travelsDataFetched">
					<select id="to" v-model="currentArrival">
						<option value="0">to</option>
						<option v-for="arrival in arrivals" v-bind:value="arrival" >{{arrival}}
						</option>
					</select>
				</div>	
				<div id="trip-type">
					<span id="cheapest" v-on:click="setPriceSort()" v-bind:class="{ active: sortByPrice }">Cheapest</span>
					<span id="fastest" v-on:click="setTimeSort()" v-bind:class="{ active: sortByTime }" >Fastest</span>
				</div>
				<div id="search">
					<input type="button" v-on:click="launchSearch()" v-bind:disabled="!travelsDataFetched" value="Search" id="search-button" />
				</div>
			</div>
			<div id="result" v-cloak>
				<div id="result-details" v-if="displayResult">
					<ul>
						<li class="etap" v-for="directItinerary in processedItinerary" >
							{{directItinerary.departure}} - {{directItinerary.arrival}} | price: {{directItinerary.discountedCost}}{{currenrySymbols[currency]}} ( {{ directItinerary.cost }}{{currenrySymbols[currency]}}  - {{ directItinerary.discount }}% ), duration: {{directItinerary.duration.h}}h {{directItinerary.duration.m}}min by {{directItinerary.transport}} | ref: {{directItinerary.reference}}
						</li>
						<li class="recap" >Total price: {{processedItinerary.totalCost}}{{currenrySymbols[currency]}} | total duration: {{processedItinerary.duration.h}}h {{processedItinerary.duration.m}}min</li>
						<!-- {{directItinerary.departure + '-' + directItinerary.arrival + " | price: " + directItinerary.discountedCost + "("  + directItinerary.cost + " - "+ directItinerary.discount " % ), duration: " + directItinerary.duration.h + "h " + directItinerary.duraration.m + " min" }} -->
					</ul>
				</div>
				<div id="error-message">{{errorMessage}}</div>
			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>