
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Trip Sorter</title>
	<meta name="description" content="trip sorting test">
	<meta name="author" content="vbenoit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script defer src="js/material.min.js"></script>
	<link rel="stylesheet" href="css/styles.css" />
	

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<div id="app" ref="app" >
		<div id="main-container">
			<div id="title">
				Trip Sorter
				<span id="currency" >
					<select>
						<option value="EUR" >€</option>
						<option value="DOLR" >$</option>
						<option value="PND" >£</option>
					</select>
				</span>
			</div>
			<div id="form">
				<div id="from-container" v-if="dataFetched">
					<select id="from">
						<option value="from">from</option>
					</select>
				</div>
				<div id="to-container" v-if="dataFetched">
					<select id="to">
						<option value="to">to</option>
					</select>
				</div>	
				<div id="trip-type">
					<span id="cheapest">Cheapest</span>
					<span id="fastest">Fastest</span>
				</div>
				<div id="search">
					<input type="button" v-bind:disabled="dataFetched" value="Search" id="search-button" />
				</div>
			</div>
			<div id="results">

			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>