
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Trip Sorter</title>
	<meta name="description" content="trip sorting test">
	<meta name="author" content="vbenoit">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body>
	<div id="app" ref="app" >
		<div id="main-container">
			<div id="title" class="bold" >
				Trip <span class="red">Sorter</span>
				<span id="currency" >
					<select v-model="currency" >
						<option value="EUR" >€</option>
					</select>
				</span>
			</div>
			<div id="form" v-if="displayForm">
				<div id="from-container" v-if="travelsDataFetched">
					<select id="from" v-model="currentDeparture">
						<option value="0">from</option>
						<option v-for="departure in departures" v-bind:value="departure" >{{departure}}
						</option>
					</select>
				</div>
				<div id="to-container" v-if="travelsDataFetched">
					<select id="to" v-model="currentArrival">
						<option value="0">to</option>
						<option v-for="arrival in arrivals" v-bind:value="arrival" >{{arrival}}
						</option>
					</select>
				</div>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-secondary" v-on:click="setPriceSort()" v-bind:class="{ active: sortByPrice }" >
				    <input type="radio" name="trip-type" id="trip-type-1" autocomplete="off" checked> Cheapest
				  </label>
				  <label class="btn btn-secondary" v-on:click="setTimeSort()" v-bind:class="{ active: sortByTime }" >
				    <input type="radio" name="trip-type" id="trip-type-1" autocomplete="off"> Fastest
				  </label>
				</div>
			</div>
			<div id="result" v-if="displayResult" v-cloak>
				<div id="result-details" v-if="displayResult">
					<div class="card transportation-card" v-for="transportation in processedItinerary.transportationsList">
					  <div class="card-body">
					    <div class="card-body-first-line">
					    	<span class="card-body-left" >{{transportation.departure}} &gt; {{transportation.arrival}}</span>
					    	<span class="card-body-right" >{{transportation.discountedCost}}{{currenrySymbols[currency]}}</span>
					    </div>
					    <div class="card-body-second-line"></div>
					  </div>
					</div>
					<div class="card travel-summary-card">
					  <div class="card-body">
					    Total   {{processedItinerary.duration.h}}h {{processedItinerary.duration.m}}min {{processedItinerary.totalCost}}{{currenrySymbols[currency]}}
					  </div>
					</div>
					<!--<ul>
						<li class="step" v-for="transportation in processedItinerary.transportationsList" >
							{{transportation.departure}} - {{transportation.arrival}} | price: {{transportation.discountedCost}}{{currenrySymbols[currency]}} ( {{ transportation.cost }}{{currenrySymbols[currency]}}  - {{ transportation.discount }}% ), duration: {{transportation.duration.h}}h {{transportation.duration.m}}min by {{transportation.transport}} | ref: {{transportation.reference}}
						</li>
						<li class="travel-summary" >Total price: {{processedItinerary.totalCost}}{{currenrySymbols[currency]}} | total duration: {{processedItinerary.duration.h}}h {{processedItinerary.duration.m}}min</li>
					</ul>-->
				</div>
			</div>
			<div id="search">
				<button type="button" id="search-button" v-bind:disabled="!travelsDataFetched" v-on:click="buttonClicked()" class="btn btn-default btn-lg">
				  <span v-bind:class="iconValue" class="fa right-space15px"></span><span v-text="buttonValue"></span>
				</button>
			</div>
			<div id="error-message" v-if="displayError">
				<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
  			</div>
		</div>
	</div>
	<script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>